/node_modules
/storage/*.key
/storage/app/*
/vendor
/.idea
/.vagrant
/.vscode
.env
.env.backup
.phpunit.result.cache
.gitattributes
.DS_Store
.editorconfig
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
