@charset "UTF-8";

:root {
    --primary100: #EBF0FF;
    --primary200: #9FB7FF;
    --primary300: #5D7BFF;
    --primary400: #5B6FE8;
    --secondary100: #F4F5F8;
    --secondary200: #DAE0E8;
    --secondary300: #97A3B9;
    --secondary400: #7987A1;
    --success100: #CEF2DD;
    --success200: #84DFA9;
    --success300: #0ABF55;
    --success400: #0DB055;
    --info100: #DAFAFF;
    --info200: #82DCEA;
    --info300: #36B9CC;
    --info400: #148B9E;
    --warning100: #FFF1D6;
    --warning200: #FFDC98;
    --warning300: #FFBA33;
    --warning400: #FFAA00;
    --danger100: #FFDEDE;
    --danger200: #FFACAD;
    --danger300: #FF5B5C;
    --danger400: #FA4849;
    --purple: #775DD0;
    --green: #00E396;
    --red: #FF4560;
    --yellow: #FEB019;
    --blue: #008FFB;
    --black: #000;
    --white: #fff;
    --light100: #F8F9FC;
    --light200: #CAD1E8;
    --light300: #97A5CF;
    --light400: #8393C4;
    --dark100: #747681;
    --dark200: #3C3F52;
    --dark300: #23263B;
    --dark400: #0C0F21;
    --blueGray900: #1C273C;
    --blueGray800: #3B4863;
    --blueGray700: #596882;
    --blueGray600: #7987A1;
    --blueGray500: #97A3B9;
    --blueGray400: #B4BDCE;
    --blueGray300: #CDD4E0;
    --blueGray200: #E3E7ED;
    --blueGray100: #F4F5F8;
}
